<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bekk.dotnetintro.Data.NHibernate.Properties.Settings.CarDemoConnectionString"
            connectionString="Data Source=|DataDirectory|\CarDemo.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>